<div class="center hero-unit">
	<h1>Bem Vindo no Me Ajuda Nisso!</h1>
	
	<h2>
		Dúvidas?
		<a href="http://stackoverflow.com">Me Ajuda Nisso</a>
	</h2>
	<%= link_to "Cadastra se", signup_path, class: "btn btn-large btn-primary" %>
</div>
<%= link_to image_tag("ajuda.png", alt: "Ajuda"), 'http://rubyonrails.org/' %>