<footer class="footer">
	<small>
		Prodrução by Bruno Andrade & Diego Marcílio
	</small>
	<nav>
		<ul>
			<li><%=link_to "About", '/static_pages/about"' %></li>
			<li><%=link_to " Contatc", '#' %></li>
			<li><a href="http://newe.railstutorial.org/">News</a></li>
		</ul>
	</nav>
</footer>