<header class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<%= link_to "Me Ajudade Nisso", '#', id: "logo" %>
			<nav>
				<ul class="nav pull-right">
					<li><a href="/static_pages/home">home</a></li>
					<li><a href="/static_pages/help">Help</a></li>
					<li><a href="/static_pages/about">About</a></li>
				</ul>
			</nav>
		</div>
	</div>
</header>

